name: Publish

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/upload-pages-artifact@v2.0.0
      with:
        path: ./
  deploy:
    permissions:
      pages: write
      id-token: write
    needs: upload
    runs-on: ubuntu-latest
    steps:
    - uses: actions/deploy-pages@v2
